html{
  background-image: url("image/oliveraie_m8b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#transi{
  height: 500px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 10%; */
  /* padding-right:auto; */
  margin-top: 10%;
  margin-bottom: auto;
  background-image: url("image/parch_pap.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#transition{
  height: 450px;
  width: 300px;
  padding-left: 15%;
  padding-right: auto;
  padding-top: 15%;
}

#leg{
  text-align: center;
  color: rgb(5, 166, 53);
  font-size: 20px;
  font-family: 'Satisfy', cursive;
}

#depart{
  text-align: center;
  color: rgb(5, 166, 53);
}

.depart{
  background-color: rgb(5, 166, 53);
  color: white;
}

.hatlas{
  color: blue;
}
