html{
  background-image: url("/css/image/oliveraie_m8b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  display : grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows : 100px 1fr 50px;
}

h1{
  grid-column: 2;
  grid-row: 1;
  font-family: 'Dancing Script', cursive;
  color: black;
  font-size: 40px;
  margin-left: 10%;
}



#div{
  grid-column: 2;
  grid-row: 2;
  height: 420px;
  width: 420px;
  background-image: url("/css/image/p_dec2.png"); /*image/parch_pap.png*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}




#entete1{
  grid-column: 1;
  grid-row: 2;
  text-align : center;
  font-family: 'Dancing Script', cursive;
  color: black;
  font-size: 20px;
}

#entete2{
  grid-column: 2;
  grid-row: 2;
  text-align : center;
  font-family: 'Dancing Script',cursive;
  color: black;
  font-size: 20px;
}
#pseudo1{
  grid-column: 1;
  grid-row: 3;
  text-align : center;
  font-family: 'Dancing Script';
}


#score1{
  grid-column: 2;
  grid-row: 3;
  text-align : center;
  font-family: 'Dancing Script';
}

#pseudo2{
  grid-column: 1;
  grid-row: 4;
  text-align : center;
  font-family: 'Dancing Script';
}


#score2{
  grid-column: 2;
  grid-row: 4;
  text-align : center;
  font-family: 'Dancing Script';
}
#pseudo3{
  grid-column: 1 ;
  grid-row: 5;
  text-align : center;
  font-family: 'Dancing Script';
}


#score3{
  grid-column:2;
  grid-row: 5;
  text-align : center;
  font-family: 'Dancing Script'
}
#pseudo4{
  grid-column: 1 ;
  grid-row: 6;
  text-align : center;
  font-family: 'Dancing Script', cursive;
  color: rgb(5, 166, 53);
}


#score4{
  grid-column:2;
  grid-row: 6;
  text-align : center;
  font-family: 'Dancing Script', cursive;
  color: rgb(5, 166, 53);
}

#rejouer{
  color: rgb(5, 166, 53);
  grid-column: 1/2;
  grid-row: 7;
  margin-left: 80%;

}
