html{
  background-image: url("image/oliveraie_m8b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  min-height: 100vh;                  /* 1 */
  display: grid;                      /* 2 */
  grid-template-columns: 270px 1fr;   /* 3 */
  grid-template-rows: 500px 1fr 150px;  /* 3 */
}

#music{
  grid-column: 1;
  grid-row: 1;
}

#deb{
  font-style : italic;
}

#hist{
  height: 900px;
  width: 1000px;
  background-image: url("image/parch_hist.png");
  background-size: 80% 100%;
  background-repeat: no-repeat;

}

#histoire{

  grid-column: 2;
  grid-row: 1;
  height: 1100px;
  width: 600px;
  padding-left: 10%;
  padding-right: auto;
  padding-top: 5%;
}

#titre{
  text-align: center;
  color: rgb(5, 166, 53);
  font-size: 20px;
  font-family: 'Satisfy', cursive;
}

#suite{
  text-align: center;
  color: rgb(5, 166, 53);
}

.suite{
  background-color: rgb(5, 166, 53);
  color: white;
}

.julie{
  color: green;
}

.hatlas{
  color: blue;
}

.soleil{
  color: rgb(250, 133, 2);
}
