html{
  background-image: url("/css/image/oliveraie_m8b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-family: 'Dancing Script', cursive;
  color: rgb(5, 166, 53);
  font-size: 40px;
  margin-left: 20%;
}

#legend{
  /* background-color: rgb(150, 230, 84); */
  font-size: 20px;
}

#div{
  height: 420px;
  width: 250px;
  margin-left: 30%;
  background-image: url("/css/image/p_dec2.png");
  background-size: 100% 75%;
  background-repeat: no-repeat;
  grid-column: 2;
  grid-row: 2;
}

#inscription{
  text-align: center;
  height: 250px;
  width: 150px;
  padding-left: 10%;
  padding-right: auto;
  padding-top: 10%;
  font-family: 'Satisfy', cursive;
  color: rgb(5, 166, 53);
  font-size: 20px;
}

#field{
  margin-left: auto;
  margin-right: auto;
  padding-top: 20%;
  border : none;
}

.valid{
  background-color: rgb(5, 166, 53);
  color: white;
}

.info{
  font-family: 'Satisfy', cursive;
  text-align: left;
}
